{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Dashboard — Marketplace</title>
  <link rel="stylesheet" href="{% static 'accounts/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> 
  <link
        rel="stylesheet"
        href="{% static 'accounts/dashboard.css' %}"
    >

</head>


<body>

    <!-- NAVIGATION -->

  <div class="container">
      <nav class="top-nav">

        <div><a href="{% url 'product_list' %}" class="brand">
            <div class="logo">
                      <img src="{% static 'images/logo.jpg' %}" alt="logo" style="witdh:100%; height: 100%; object-fit: cover; border-radius: 50%;">
            </div>
       
        </a></div>

      <button class="btn btn-light">
        <i class="fa-solid fa-bars">

        </i>
      </button>

    </nav>


    <div class="dashboard">

        <!-- HEADER -->

        <header class="dashboard-header reveal">

            <div>

                <span style="font-size: 10vh; color: rgb(255, 252, 250);">
                    De retour,
                    <span>{{ user.username }}</span>
                </span>

                <p>
                    <em style="color: rgb(230, 228, 228);">Voici l'état actuel de votre activité.</em>
                </p>

            </div>

        </header>


        <!-- STATISTIQUES -->
 <div class="bod row" style="justify-content: space-between;" >
           <div class="col-12 col-md-6 col-lg-3">
            <div class="tools">
                <i class=" fa-solid fa-bullhorn "  style="font-size: 8vh; color: lightblue;"></i>
                <span class="stat-label">
                  <em>  Mes annonces</em>
                </span>

                <strong
                    class="stat-value"
                    data-counter="{{ products|length }}"
                >
                    0
                </strong>

            </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
            <div class="tools">
                <i class=" fa-solid fa-bag-shopping "  style="font-size: 8vh; color: lightblue;"></i>
                 <span class="stat-label">
                   <em> Mes achats</em>
                </span>

                <strong
                    class="stat-value"
                    data-counter="{{ boughts|length }}"
                >
                    0
                </strong>

            </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
            <div class="tools">
                <i class=" fa-solid fa-inbox "  style="font-size: 8vh; color: lightblue;"></i>
                <span class="stat-label">
                    <em>Commandes reçues</em>
                </span>

                <strong
                    class="stat-value"
                    data-counter="{{ received_orders|length }}"
                >
                    0
                </strong>
            </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
            <div class="tools">
                <i class=" fa-solid fa-sack-dollar" style="font-size: 8vh; color: lightblue;"></i>
                 <span class="stat-label">
                   <em> Mes ventes</em>
                </span>

                <strong
                    class="stat-value"
                    data-counter="{{ sales|length }}"
                >
                    0
                </strong>
            </div>
           </div>
        </div>


        <!-- MES PRODUITS -->

        <section class="dashboard-section reveal">

            <div class="section-heading"  style="margin-top: 10vh;margin-bottom: 1vh; z-index: 1;">

                <span class="title">
                    Mes produits
                </span>


            </div>


            <div class="items">

                {% for product in products %}

                    <article class="item">

                        <div class="item-main">

                            <h3>
                                {{ product.name }}
                            </h3>

                            <p>
                                {{ product.price }} FCFA
                                ·
                                {{ product.quantity }} disponible(s)
                            </p>

                        </div>


                        <div class="item-actions">

                            <a
                                class="btn"
                                href="{% url 'product_detail' product.id %}"
                            >
                                Voir
                            </a>


                            <a
                                class="btn"
                                href="{% url 'product_update' product.id %}"
                            >
                                Modifier
                            </a>


                            <a
                                class="btn btn-danger"
                                href="{% url 'product_delete' product.id %}"
                            >
                                Supprimer
                            </a>

                        </div>

                    </article>

                {% empty %}

                    <div class="empty text-center text-muted">
                        <i class="fa-solid fa-folder-open fa-2x mb-2"></i>
                      <p>  Vous n'avez publié aucune annonce.</p>
                    </div>

                {% endfor %}

            </div>

        </section>


        <!-- MES commandes -->

<section class="dashboard-section reveal">
    <div class="section-heading"  style="margin-top: 10vh;margin-bottom: 1vh; z-index: 1;">
        <span class="title">
            Mes Commandes
        </span>
        
    </div>

    <div class="items">

        {% for order in purchases %}

            <article class="item">

                <div class="item-main">

                    <h3>
                        {{ order.product.name }}
                    </h3>

                    <p>
                        Quantité :
                        {{ order.quantity }}
                        ·
                        {{ order.unit_price }} FCFA
                    </p>

                    <p>
                        Statut :

                        <span class="
                            status
                            {% if order.status == 'pending' %}
                                status-pending
                            {% elif order.status == 'completed' %}
                                status-completed
                            {% else %}
                                status-cancelled
                            {% endif %}
                        ">
                            {{ order.get_status_display }}
                        </span>
                    </p>

                </div>


                <!-- ANNULER -->

                {% if order.status == "pending" and not order.seller_status %}

                    <div class="item-actions">

                        <form
                            method="post"
                            action="{% url 'cancel_order' order.id %}"
                        >

                            {% csrf_token %}

                            <button
                                class="btn btn-danger"
                                type="submit"
                            >
                                Annuler
                            </button>

                        </form>

                    </div>

                {% endif %}
                <!-- CONFIRMATION acheteur -->
                {% if request.user == order.buyer and order.status == "pending"  and not order.buyer_status %}
                    <div>
                        <form
                            method="post"
                            action="{% url 'buyer_status_confirm' order.id %}"
                        >

                            {% csrf_token %}

                            <button
                                class="btn btn-danger"
                                type="submit"
                            >
                                Je confirme avoir reçu ma commande
                            </button>

                        </form>
                    </div>
                {% endif %}    
            </article>

        {% empty %}

           <div class="empty text-center text-muted">
                        <i class="fa-solid fa-calendar fa-2x mb-2"></i>
                      <p>  Vous n'avez aucune comandes.</p>
                    </div>

        {% endfor %}

    </div>
</section>


<!-- COMMANDES REÇUES -->

<section class="dashboard-section reveal">

    <div class="section-heading"  style="margin-top: 10vh;margin-bottom: 1vh; z-index: 1;">

        <span class="title">
            Vos commandes à traiter
        </span>   

        

    </div>


    <div class="items">

        {% for order in received_orders %}

            <article class="item">

                <div class="item-main">

                    <h3>
                        {{ order.product.name }}
                    </h3>

                    <p>
                        Acheteur :
                        {{ order.buyer.username }}
                    </p>

                    <p>
                        Quantité :
                        {{ order.quantity }}
                        ·
                        {{ order.unit_price }} FCFA
                    </p>

                    <p>
                        Statut :

                        <span class="
                            status
                            {% if order.status == 'pending' %}
                                status-pending
                            {% elif order.status == 'completed' %}
                                status-completed
                            {% else %}
                                status-cancelled
                            {% endif %}
                        ">
                            {{ order.get_status_display }}
                        </span>
                    </p>

                </div>


                <div class="item-actions">

                    <!-- CONFIRMATION vendeur -->

                    {% if request.user == order.product.seller and order.status == "pending"  and not order.seller_status %}

                        <form
                            method="post"
                            action="{% url 'seller_status_confirm' order.id %}"
                        >

                            {% csrf_token %}

                            <button
                                class="btn btn-primary"
                                type="submit"
                            >
                                je confirme avoir délivrer la commande
                            </button>

                        </form>

                    {% endif %}

                </div>

            </article>

        {% empty %}

           <div class="empty text-center text-muted">
                        <i class="fa-solid fa-box-open fa-2x mb-2"></i>
                      <p>  Aucune commmabde recue pour le moment.</p>
                    </div>

        {% endfor %}

    </div>

</section>


<!-- MES VENTES -->

<section class="dashboard-section reveal">

    <div class="section-heading"   style="margin-top: 10vh;margin-bottom: 1vh; z-index: 1;">

        <span class="title">
            Mes ventes
        </span>

        

    </div>


    <div class="items">

        {% for sale in sales %}

            <article class="item">

                <div class="item-main">

                    <h3>
                        {{ sale.product.name }}
                    </h3>

                    <p>
                        Acheteur :
                        {{ sale.buyer.username }}
                    </p>

                    <p>
                        Quantité :
                        {{ sale.quantity }}
                        ·
                        {{ sale.unit_price }} FCFA
                    </p>

                    <p>
                        Statut :

                        <span class="
                            status
                            {% if sale.status == 'pending' %}
                                status-pending
                            {% elif sale.status == 'completed' %}
                                status-confirmed
                            {% else %}
                                status-cancelled
                            {% endif %}
                        ">
                            {{ sale.get_status_display }}
                        </span>
                    </p>

                </div>

            </article>

        {% empty %}

            <div class="empty text-center text-muted">
                        <i class="fa-solid fa-chart-line fa-2x mb-2"></i>
                      <p>  Vous n'avez encore realisé aucune vente.</p>
                    </div>

        {% endfor %}

    </div>

</section>

        <!-- ACHATS -->

        <section class="dashboard-section reveal"  style="margin-top: 10vh;margin-bottom: 5vh">

            <div class="section-heading" style="margin-top: 10vh;margin-bottom: 1vh ;z-index: 1;">

                <span class="title">
                    Mes Achats
                </span>

           
            </div>


            <div class="items">

                {% for order in boughts %}

                    <article class="item">

                        <div class="item-main">

                            <h3>
                                {{ order.product.name }}
                            </h3>


                            <p>
                                Vendeur :
                                {{ order.product.seller }}
                            </p>


                            <p>
                                Quantité :
                                {{ order.quantity }}
                                ·
                                {{ order.unit_price }} FCFA
                            </p>


                            <p>

                                Statut :

                                <span class="status status-pending">
                                    {{ order.status }}
                                </span>

                            </p>

                        </div>


                    </article>

                {% empty %}

                    
           <div class="empty text-center text-muted">
                        <i class="fa-solid fa-basket-shopping fa-2x mb-2"></i>
                      <p>  Vous n'avez encore rien acheté.</p>
                    </div>

                {% endfor %}

            </div>

       

    </div>


  </div>
    <script src="{% static 'accounts/dashboard.js' %}"></script>

</body>

</html>