:root{
    --main-clor: #fff;
    --bg-color:#fff;
    --text-color:#333;

    --font-size:16px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.top-nav{
    display:flex;
    justify-content: space-between;
    margin:20px auto;
    padding:12px 24px;
    align-items: end;
    border-bottom: 4px solid rgb(230, 210, 210); border-radius: 28px;
}
.brand{
    font-size: 22px;
    text-decoration: none;
    color:rgb(47, 131, 205);
    font-weight: bold;
}
span{
    color:rgb(240, 135, 16);
}
.top-nav div{
    width:65%;
    display:flex;
    justify-content: space-between;
    gap:15px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(47, 131, 205);
    font-size: 14px;
    font-weight: 500;
}